<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDt57_Gh2fyvth5yecwsK25LfK0wDMMCxk</string>
	<key>GCM_SENDER_ID</key>
	<string>864185885257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.machineTest.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ipix-machinetest</string>
	<key>STORAGE_BUCKET</key>
	<string>ipix-machinetest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:864185885257:ios:a015171962c9e7ce8a9598</string>
</dict>
</plist>